/*<meta />*/

body
{
	font-family: var(--FontFamily);
	background-color: var(--Lightest);
}

h1
{
	color: #000000;
	font-weight: normal;
	font-size: 20pt;
}

h2
{
	font-size: 13pt;
	color: #007fff;
	padding-top: 10px;
	font-weight: normal;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #000000;
	font-size: 10pt;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: 14pt;
}

ol,
ul,
dl
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

p#Note
{
	color: #000000;
	font-size: 10pt;
	line-height: 15pt;
	padding-top: 5px;
	border-top-color: #007fff;
	border-bottom-style: double;
	border-top-style: double;
	padding-bottom: 5px;
	margin-top: 10pt;
	margin-bottom: 10pt;
	border-bottom-width: 3px;
	border-top-width: 3px;
	font-style: italic;
	border-bottom-color: #007fff;
	border-color: #007fff;
}

p#TableFont
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	line-height: 12pt;
}

td
{
	line-height: 13pt;
	font-size: 12pt;
}

